* {
 font-family: 'Roboto', sans-serif;
}

[class^="col"] {
  background-color: rgba(243, 148, 103, 0.438);
  border: 1px solid black;
}

header{
  height: 80px;
}

main,
aside,
.dashboard {
  height: calc(100vh - 80px);
}

.piano-blaze {
  height: 80px;
}
