* {
 font-family: 'Roboto', sans-serif;
}

.debug {
  background-color: rgba(243, 148, 103, 0.438);
  border: 1px solid black;
}

header{
  height: 80px;
}

main {
  height: calc(100vh - 80px);
}

aside {
  height: calc(100vh - 80px);
}

