* {
 font-family: 'Roboto', sans-serif;
}

header{
  height: 80px;
  background-color: white;
}

main {
  padding-top: 80px;
}

aside {
  background-image: url(../img/sidebar-bg.png);
  background-color: #051E34;
  width: 60px;
  height: calc(100vh - 80px);
}

aside i {
  width: 30px;
}

.logo-mobile {
  width: 60px;
} 

.search {
  width: 100%;
  margin-inline: 5px;
}

.menu ul{
  width: 30px;
} 

ul {
  margin: 0;
}

.list-icon{
  color: #5B5858;
}

.dashboard {
    height: calc(100vh - 80px);
}

.btn-list {
 color: #5B5858;
}

.add-student {
  background-color: #1B72E8;
  padding:10px 0;
}

.badge-color {
  background-color: #165BBA;
}

.student-online {
  font-size: .8rem;
}

@media screen and (min-width:992px){
  aside {
    width: 140px;
  }

  .logo {
    width: 150px;
  }

  .menu ul{
    width: 90px;
  } 
}